
#flex2{
    width: 80%;
    height: 50px;
    background-color: aquamarine;
}
#flex3{
    width: 20%;
    height: 50px;
    background-color: blueviolet;
}
body{
    background-color: red;
}
/* Css Menu */
.wrapper-menu
{
    display: flex;
    background-color: cornflowerblue;
    justify-content: space-around;
    padding: 2% 5% 0% 5%;
}
.logo-menu
{
    background-color: burlywood;
}
.menu-menu{
    background-color: brown;
    display: flex;
}
.categorie-menu
{
    padding: 0% 2% 0% 2%;
    white-space:nowrap;
}
.button-menu
{
    padding: 0% 2% 0% 2%;
    white-space:nowrap;
}
#button-1menu
{
    background:none!important;
    border: 1px solid #ffffff;
    color: #ffffff;
}
#button-2menu
{
    background:none!important;
border: 1px solid #ffffff;
  color: #ffffff;
}
/* Menu déroulant */ 
.sub-menu
{
    display: none;
    position:absolute;
    background-color: cornflowerblue;
    padding: 1%;
}
header .categorie-menu:hover 
{
    background-color: chartreuse;
}
header .categorie-menu:hover  .sub-menu
{
    display: block;
}
header li
{
    list-style-type: none;
    background-color: darksalmon;
    border-bottom: white 1px solid;
}