
#flex2{
    width: 80%;
    height: 50px;
    background-color: aquamarine;
}
#flex3{
    width: 20%;
    height: 50px;
    background-color: blueviolet;
}
/* Css Menu */
.wrapper-menu
{
    display: flex;
    background-color: #003563;
    justify-content: space-around;
    padding: 1% 0% 0% 0%;
}
.menu-menu{
    background-color: #003563;
    display: flex;
    color: #FFFF;
}
.categorie-menu
{
    white-space:nowrap;
    margin: 0% 1% 0% 1%;
}
.button-menu
{
    white-space:nowrap;
    padding: 0% 1% 0% 1%;
}
#button-1menu
{
    background:none!important;
    border: 1px solid #ffffff;
    color: #ffffff;
}
#button-2menu
{
    background:none!important;
border: 1px solid #ffffff;
  color: #ffffff;
}
/* Menu déroulant */ 
.sub-menu
{
    display: none;
    position:absolute;
    padding: 1%;
    color: white;
}
header .categorie-menu:hover 
{
    background-color: #003563;
}
header .categorie-menu:hover  .sub-menu
{
    display: block;
}

header li
{
    list-style-type: none;
    background-color: #003563;;
    border-bottom: white 1px solid;
}
#lab
{
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 4px;
    display: none;
    background:linear-gradient(#FFF 0%,#FFF 20%,transparent 21%, transparent 40% , #FFF 41% , #FFF 60% , transparent 61% , transparent 80% , #FFF 81% , #fff 100%)
}
#ch
{
    display: none;
}

.padding-chevron
{
    display: none;
}

@media only screen and (max-width: 1024px) {
    body {
        background-color:  red!important;
    }
    .menu-menu
    {
        display: block;
        position: absolute ;
        right: 0;
        left: 0;
        transform:translate(-10000px,0);
        transition: all 0.5s ease;
        top: 5.5%;
    }
    #ch:checked+.menu-menu{
           transform:translate(0px ,0); 
        transition: all 0.5s ease;
    }
    #lab
    {
        display: block;
    }
    .categorie-menu:hover>.sub-menu{
        display: block;
        position: relative;
    }
    .padding-chevron
    {
        display: block;
        padding-left: 5%;
    }
  }
